<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> Similar Doctors </title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle"> Similar Doctors </h1>
        </header>
        <main>
            <section class="welcomeHeaders">
                <h2 class="mainh2"> Welcome to Similar Doctors! </h2>
                <h3 class="mainh3"> Browse our vast listing of Doctors available. Find, discover, and connect
                     with the best fit for you. </h3>
                <span class="divider"> </span>
                <h2 class="mainh2"> Get started below: </h2>
                <span class="divider"> </span>
            </section>
            <section class="narrowChoices">
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </section>
            <section class="listDoctors">

            </section>
        </main>
    </body>
</html>