<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> Similar Doctors </title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
        <script type="module" src="/list/displayDoctors.js" async></script>
        <script type="module" src="/list/narrowChoices.js" async></script>
        <script type="module" src="/data/doctorData.js" async></script>
        <script type="module" src="/ui/doctorClick.js" async></script>
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle"> Similar Doctors </h1>
        </header>
        <main>
            <section class="welcomeHeaders">
                <h2 class="mainh2"> Welcome to Similar Doctors! </h2>
                <h3 class="mainh3"> Browse our vast listing of Doctors available. Find, discover, and connect
                     with the best fit for you. </h3>
                <div class="divider"> </div>
                <h2 class="mainh2"> Get started below: </h2>
                <div class="divider"> </div>
            </section>
            <section class="narrowChoices">
                <div class="dropdown">
                    <button class="dropbtn"> Specialty </button>
                    <div class="dropdown-content">
                        <button id="drop1-choice1"> Psychiatrist </button>
                        <button id="drop1-choice2"> Psychologist </button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"> Area </button>
                    <div class="dropdown-content">
                        <button id="drop2-choice1"> San Francisco </button>
                        <button id="drop2-choice2"> Seattle </button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"> Score </button>
                    <div class="dropdown-content">
                        <button id="drop3-choice1"> 5 (Maximum) </button>
                        <button id="drop3-choice2"> 4 </button>
                        <button id="drop3-choice3"> 3 </button>
                        <button id="drop3-choice4"> 2 </button>
                        <button id="drop3-choice5"> 1 (Minimum) </button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"> Experience </button>
                    <div class="dropdown-content">
                        <button id="drop4-choice1"> Less than 5 years </button>
                        <button id="drop4-choice2"> 5-10 years </button>
                        <button id="drop4-choice3"> 10-15 years </button>
                        <button id="drop4-choice4"> 15-20 years </button>
                        <button id="drop4-choice5"> 20+ years </button>
                    </div>
                </div>
            </section>
            <section class="listDoctors">
            </section>
            <section class="overlay">
                <button class="closeOverlay"> X </button>
                <div class="overlay-inner"></div>
            </section>
        </main>
    </body>
</html>